
<footer class="ht-footer">
	<div class="container">
		<div class="flex-parent-ft">
			<div class="flex-child-ft item1">
				<a href="index-2.html"><img class="logo" src="images/logo1.png" alt=""></a>
				<p>
					Kayseri Talas<br>
					Kayseri
				</p>
				<p>Bizi Arayın: <a href="#">(+01) 202 342 6789</a></p>
			</div>
			<div class="flex-child-ft item2">
				<h4>Hızlı Erişim</h4>
				<ul>
					<li><a href="#">Hakkımızda</a></li>
					<li><a href="#">Filmler</a></li>
					<li><a href="#"> Bize Ulaşın</a></li>
					<li><a href="#">Forums</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">Yardım Merkezi</a></li>
				</ul>
			</div>
			<div class="flex-child-ft item3">
				<h4>Legal</h4>
				<ul>
					<li><a href="#">Terms of Use</a></li>
					<li><a href="#">Privacy Policy</a></li>
					<li><a href="#">Security</a></li>
				</ul>
			</div>
			<div class="flex-child-ft item4">
				<h4>Hesabım</h4>
				<ul>
					<li><a href="#">Profilim</a></li>
					<li><a href="#">İzleme Listem</a></li>
					<li><a href="#">Koleksiyonlarım</a></li>
					<li><a href="#">Kullanıcı Rehberi</a></li>
				</ul>
			</div>
			<div class="flex-child-ft item5">
				<h4>Email Bülteni</h4>
				<p>Son Çıkan Film ve Dizilerden haberdar olmak <br> için hemen abone olun.</p>
				<form action="#">
					<input type="text" placeholder="Enter your email...">
				</form>
				<a href="#" class="btn">Abone Ol <i class="ion-ios-arrow-forward"></i></a>
			</div>
		</div>
	</div>
	<div class="ft-copyright">
		<div class="ft-left">
			<p><a target="_blank" href="https://www.templateshub.net">Templates Hub</a></p>
		</div>
		<div class="backtotop">
			<p><a href="#" id="back-to-top">Yukarıya Dön  <i class="ion-ios-arrow-thin-up"></i></a></p>
		</div>
	</div>
</footer>
